*{
    font-family: 'Open Sans', sans-serif;
}
div{
    width:900px;
    background-color: white;
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 20px;
}
body,h1{
    margin:0 auto;
}
section{
    margin: 0 auto;
    overflow-y: scroll;
    background-color: lightgreen;
    background-image: url(https://www.wallpaperuse.com/wallp/71-719840_m.jpg);
    background-attachment: fixed;
}
.colorgray{
    color: white;
    background-color: rgba(47, 47, 47, 0.603);
}
p{
    text-align: justify;

}