*{
    padding: 0;
    margin:0;
    color:rgb(255, 255, 255);
    text-align: center;
}

/*html, body{
    background-color: rgb(18, 52, 56);
}*/
.main-container{
    border: 4px solid rgb(12, 13, 70);
    border-radius: 10px;
    margin: 2rem;
    background-color: rgb(50, 50, 50);
}
section, footer, article, aside{
    border: 2px solid rgb(255, 122,0);
    padding: 1rem;
}

header{
    margin: auto;
    width: 700px;
    font-family: Arial, Helvetica, sans-serif;
}
ul, ol {
    list-style: none;
}
nav li a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
nav li a:hover{
    background-color: #434343;
}
nav li{
    float: left;
}
img{
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    border-radius: 50%;
}
img:hover{
    -webkit-transform: scale(1.15,1.15);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 100ms;
    -moz-transform: scale(1.15,1.15);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;
    border-radius: 50%;
}
.cont1{
 width: 300px;
 height: 300px;
 background-color: #858585;
 align-items: center;
 display: flex;
 justify-content: center;
}
.info{
    width: 500px;
    height: 500px;
    background:url("https://p0.piqsels.com/preview/940/943/598/wallpaper-hd-wallpaper-iphone-wallpaper-samsung-wallpaper.jpg");
    background-color: #eee;
}
.contenedorSup{
    width: 700px;
    height: 315px;
    background: url("https://cdn.pixabay.com/photo/2020/04/12/18/14/background-5035259__340.jpg");
    background-color: #a0a0a075;

}
.CV{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    background-color: rgb(134, 136, 233);
}
body::-webkit-scrollbar{
    width: 10px;
    background: #434343;
}
body::-webkit-scrollbar-thumb{
    background: #004280;
    border-radius: 5px;
    border-right: 2px solid #004280;
}
h3{
    text-shadow: 0 0 10px rgb(0, 26, 255);
}
